#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_RASPBERRYPI_4B

    config RASBPERRYPI_4B_RAM
        int "Raspberry Pi 4B RAM size (in GB)"
        default 4
        ---help---
            The size of the Raspberry Pi 4B's RAM in GB. Supports
            1GB, 2GB, 4GB and 8GB models.

endif # ARCH_BOARD_RASPBERRYPI_4B
