#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_CHIP_BCM2711

    menu "Broadcom BCM2711 Peripheral Selection"

endif # ARCH_CHIP_BCM2711
